@use 'colors';
@use 'fonts';

@mixin small-devices-850 {
  @media screen and (max-width: 850px) {
    @content;
  }
}

@mixin button-active-state {
  &:hover {
    background-color: transparent;
    color: colors.$transparent-white;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-family: fonts.$lexend-deca;
  font-size: 15px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;

  .card-container {
    width: 100%;
    max-width: 850px;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 0 0 20px 0;
    border-radius: 20px;
    overflow: hidden;

    @include small-devices-850 {
      max-width: 500px;
      flex-direction: column;
      min-height: none;
    }

    .card {
      padding: 50px;

      h2 {
        font-family: fonts.$big-shoulders-display;
        text-transform: uppercase;
        color: colors.$transparent-white;
        font-size: 2.5em;
      }

      p {
        color: colors.$very-light-gray;
        line-height: 1.6;
        padding: 0 0 75px 0;

        @include small-devices-850 {
          padding: 0 0 25px 0;
        }
      }

      a.button {
        border: 2px solid white;
        text-decoration: none;
        border-radius: 50px;
        font-family: fonts.$lexend-deca;
        background-color: colors.$transparent-white;
        // color: colors.$transparent-white;
        padding: 13px 35px;
        transition: background-color ease-out 0.2s, color ease-out 0.2s;
        will-change: background-color, color;
      }

      &#sedan {
        background-color: colors.$bright-orange;
        a {
          color: colors.$bright-orange;
          @include button-active-state;          
        }
      }

      &#suv {
        background-color: colors.$dark-cyan;
        a {
          color: colors.$dark-cyan;
          @include button-active-state;
        }
      }

      &#luxury {
        background-color: colors.$very-dark-cyan;
        a {
          color: colors.$very-dark-cyan;
          @include button-active-state;
        }
      }
    }
  }
}

.attribution {
  text-align: center;
}